* {
    box-sizing: border-box;
}

.calc-button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background: #F6F6F6;
    padding-bottom: 30px;
    padding-top: 30px;
}

.calculator {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}

.calculator .output {
    background: none;
    border: none;
    height: 80px;
    box-shadow: none;
    outline: none;
    padding: 20px 10px;
    width: 100%;
    border-bottom: 2px solid #111;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
}

.calc-button {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #111;
    padding: 20px;
    color: #EEE;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
}

.calculator-buttons {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

